/** header **/
.header {
    width: 100%;
    height:70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_main{
    width: 300px;
}
.nav_main > ul{
    justify-content: space-around;
    display: flex;
    list-style: none;
}
header a{
    color:white;
    font-weight: bold;
}
.nav_sub{
    width: 200px;
}
.nav_sub >ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.icon{
	vertical-align: text-bottom; /* base-line */
}
