.layout, .page, body, html {
    height: 100%;
}
blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}button, input[type=email], input[type=file], input[type=number], input[type=password], input[type=submit], input[type=tel], input[type=text], option, select, textarea {
    -webkit-appearance: none;
}
input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
* {
  
    -webkit-tap-highlight-color: transparent;
}
a * {
    border: none;
}
a {
    color: inherit;
    text-decoration: none;
}
svg {
    width: 88;
    height: 31;
}
svg:not(:root) {
    overflow: hidden;
}

div {
    display: block;
}
body, html {
    line-height: 1;
    font-family: OhouseSans, "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
}
html {
    font-family: OhouseSans,sans-serif;
}
body, html {
    line-height: 1;
    font-family: OhouseSans, "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
}
html {
    color: #424242;
    background: #fff;
}
[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.css-tbdbun {
    padding-top: 40px;
    width: calc(100% - 800px);
    margin: auto;
}
.css-5bso4y {
    width: 100%;
    margin: 0px auto;
    padding: 60px 0px;
}
.css-1pmd5bp {
    font-size: 20px;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}h1 {
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.css-1sm71m3 {
    margin: 30px 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(237, 237, 237);
}form {
    display: block;
    margin-top: 0em;
}.css-ef7ez6 {
    display: block;
    margin: 0px 0px 12px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(41, 41, 41);
    line-height: 21px;
    word-break: keep-all;
}label {
    cursor: default;
}
element.style {
    overflow: hidden;
}.css-1kfo0kb {
    margin-bottom: 30px;
}.css-ef7ez6 {
    display: block;
    margin: 0px 0px 12px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(41, 41, 41);
    line-height: 21px;
    word-break: keep-all;
}.css-1npk207 {
    margin-bottom: 10px;
    font-size: 13px;
    color: rgb(117, 117, 117);
    line-height: 1.4;
}._1qwAY {
    padding: 8px 15px 9px;
}._3ASDR {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 8px 15px 9px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Noto Sans KR,Noto Sans CJK KR,맑은 고딕,Malgun Gothic,sans-serif;
    font-size: 15px;
    line-height: 21px;
    transition: border-color .1s,background-color .1s;
    resize: none;
    -webkit-appearance: none;
}.css-jlvlth {
    border: 1px solid rgb(219, 219, 219);
    padding: 0px 23px 6px 16px;
}.css-33tjb7 {
    border-bottom: 1px solid rgb(237, 237, 237);
    height: 70px;
    display: flex;
}._4VN_z {
    flex-direction: row;
    padding-right: 6px;
}._3xqzr {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    width: 100%;
}._3zqA8 {
    position: relative;
    display: inline-block;
    font-size: 0;
    padding: 9px;
}._3UImz {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: inherit;
    opacity: 0;
    box-sizing: border-box;
}._3UImz:checked+._2mDYR {
    border-color: #35c5f0;
    background-color: #35c5f0;
    color: #fff;
}._2mDYR {
    display: inline-block;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    transition: color .1s,border-color .1s,background-color .1s;
}._2UftR {
    width: 1em;
    height: 1em;
}path {
    fill: currentcolor;
    d: path("M 6.185 10.247 l 7.079 -7.297 l 1.435 1.393 l -8.443 8.703 L 1.3 8.432 l 1.363 -1.464 Z");
}._1aN3J {
    font-size: 15px;
}.css-gekkos {
    font-size: 14px;
    color: rgb(66, 66, 66);
    line-height: 18px;
    font-weight: bold;
}.css-4u46m7 {
    font-size: 14px;
    color: rgb(66, 66, 66);
    line-height: 18px;
}.css-8r4lj8 {
    color: rgb(53, 197, 240);
    font-size: 12px;
    margin-left: 4px;
}._2UftR {
    width: 1em;
    height: 1em;
}.css-1wbll7q {
    text-decoration: underline;
}.css-1d3w5wq {
    width: 100%;
}
._2tsrJ, ._3VkGp {
    font-size: 17px;
    line-height: 26px;
}._2tsrJ {
    padding: 11px 10px;
}._3AsCW {
    background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
}._3Z6oR {
    user-select: none;
    display: inline-block;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}.css-frl1s {
    color: rgb(66, 66, 66);
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}.css-i9fa3q {
    text-decoration: underline;
    font-weight: bold;
    display: inline-block;
    padding-left: 10px;
}
.css-5bso4y {
    width: 360px;
    margin: 0px auto;
    padding: 60px 0px;

}.email-input__domain>.form-control, .email-input__local>.form-control {
    width: 100%;
}.css-1eufcdp .form-control {
    font-size: 15px;
}.input-group .form-control {
    width: 0;
}.email-input__domain>input, .email-input__domain>select {
    padding-right: 30px;
}.form-control {
    transition: border-color .2s,box-shadow .2s,background-color .2s;
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #424242;
    font-size: 12px;
}.form-check-group, .form-control, .form-radio-group, .input-group {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
element.style {
    fill: currentcolor;
}
svg {
    width: 10;
    height: 10;
}.email-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}form-check-group, .form-control, .form-radio-group, .input-group {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}.email-input__domain, .email-input__local {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}.email-input__domain>.form-control, .email-input__local>.form-control {
    width: 100%;
}.css-1eufcdp .form-control {
    font-size: 15px;
}.email-input__separator {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20px;
    -moz-box-flex: 0;
    -moz-flex: 0 0 20px;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
    text-align: center;
    line-height: 40px;
    color: #dbdbdb;
}.email-input__domain, .email-input__local {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}.email-input__domain>.form-control>option, .email-input__local>.form-control>option {
    color: #424242;
}.email-input__domain__expand {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: none;
    border: none;
    font-size: 0;
    cursor: default;
    color: rgba(0,0,0,.3);
}
#genderC {
    width: 21%;
}
.css-1thr4j {
    padding-top: 10px;
    font-size: 13px;
    line-height: 21px;
    color: rgb(53, 197, 240);
}