body, html {
    line-height: 1;
    font-family: OhouseSans, "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
}
div {
    display: block;
}
.layout, .page, body, html {
    height: 100%;
}
html {
    color: #424242;
}
a {
    color: inherit;
    text-decoration: none;
}
[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
* {
    -webkit-tap-highlight-color: transparent;
}
blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
button, input[type=email], input[type=file], input[type=number], input[type=password], input[type=submit], input[type=tel], input[type=text], option, select, textarea {
    -webkit-appearance: none;
    
}
main {
    box-sizing: border-box;
    position: relative;
}
form {
    display: block;
    margin-top: 0em;
}
input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}
button, input, select, textarea {
    font-size: inherit;
}
.css-jiuql7 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 100%;
    background-color: rgb(250, 250, 250);
}
.css-fwddxj {
    display: flex;
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.css-uu6y3f {
    flex: 1 0 auto;
    margin: 0px auto;
    max-width: 300px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 0px;
}
.css-g46w8s {
    margin-bottom: 30px;
}
.css-18ji2p4 {
    width: 300px;
}
.css-bjn8wh {
    position: relative;
}
.css-hg1ckt.css-hg1ckt.css-hg1ckt {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s;
}
._2wjXG {
    padding: 13px 15px 14px;
}
._3ASDR {
 
    margin: 0;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
    font-family: Noto Sans KR,Noto Sans CJK KR,맑은 고딕,Malgun Gothic,sans-serif;
    font-size: 15px;
    line-height: 21px;
    resize: none;
}
input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
}
.css-87d0b4.css-87d0b4.css-87d0b4 {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    margin-top: -1px;
    transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s;
}
.css-1rmx362 {
    margin: 20px 0px;
    width: 100%;
}
._27do9 {
    padding: 15px 10px;
    line-height: 20px;
    font-size: 17px;
    min-height: 50px;
}
._3Sroy {
    background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
}
._1eWD8 {
    user-select: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-image: initial;

    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}
button{
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}
.css-hyck8i {
    width: 100%;
    text-align: center;
    display: flex;
}
.css-lpbwa0:first-of-type {
    margin-left: 0px;
}
.css-lpbwa0:last-of-type {
    margin-left: 50px;
    margin-bottom: 30px;
}
.css-1gdr9kc {
    margin-top: 24px;
    margin-left: 55px;
    color: rgb(194, 200, 204);
    font-size: 14px;
    line-height: 18px;
}
.css-1kxjigl {
    width: 100%;
    color: rgb(117, 117, 117);
    font-size: 10px;
    line-height: 20px;
    margin: -5px 0px 25px;
    text-align: center;
}
.css-1wsvmq {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgb(219, 219, 219);
}
section {
    display: block;
}
.css-1kxjigl {
    width: 100%;
    color: rgb(117, 117, 117);
    font-size: 10px;
    line-height: 20px;
    margin: -5px 0px 25px;
    text-align: center;
}
footer, header, main {
    box-sizing: border-box;
    position: relative;
    display: block;
}
