.container {
    margin-right: auto;
    margin-left: auto;
    width: 1136px;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 1px;
    margin-top: 30px;
}

.managePool_name{
	font-weight: 700;
    color: #000;
    font-size: 18px;
    line-height: 24px;
}





/* product qna add */




/*(ÎÅù) product qna add*/