<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
   		<typeAlias type="com.one.s1.product.ProductFileDTO" alias="ProductFileDTO"/>
   		<typeAlias type="com.one.s1.members.MemberDTO" alias="MemberDTO"/>
   		<typeAlias type="com.one.s1.util.Pager" alias="Pager"/>
   		<typeAlias type="com.one.s1.util.Pager2" alias="Pager2"/>
   		<typeAlias type="com.one.s1.util.Pager3" alias="Pager3"/>
   		<typeAlias type="java.util.List" alias="List"/>
   		<typeAlias type="java.lang.Long" alias="Long"/>
   		<typeAlias type="com.one.s1.board.BoardDTO" alias="BoardDTO"/>
   		<typeAlias type="com.one.s1.board.notices.NoticeDTO" alias="NoticeDTO"/>
   		<typeAlias type="com.one.s1.board.qna2.Qna2DTO" alias="Qna2DTO"/> 
   		<typeAlias type="com.one.s1.board.notices.NoticeFileDTO" alias="NoticeFileDTO"/>
   		<typeAlias type="com.one.s1.board.qna2.Qna2FileDTO" alias="Qna2FileDTO"/>
   		<typeAlias type="com.one.s1.board.BoardFileDTO" alias="BoardFileDTO"/>
    	<typeAlias type="com.one.s1.cart.CartDTO" alias="CartDTO"/>
    	<typeAlias type="com.one.s1.orders.OrderDTO" alias="OrderDTO"/>
   		<typeAlias type="com.one.s1.board.house.HouseDTO" alias="HouseDTO"/>
   		<typeAlias type="com.one.s1.board.house.HouseFileDTO" alias="HouseFileDTO"/>
   		<typeAlias type="com.one.s1.members.MemberFileDTO" alias="MemberFileDTO"/>
   		<typeAlias type="com.one.s1.board.house.houseReply.HouseReplyDTO" alias="HouseReplyDTO"/>
   		<typeAlias type="com.one.s1.review.ReviewDTO" alias="ReviewDTO"/>	
   		<typeAlias type="com.one.s1.scrapbook.ScrapBookDTO" alias="ScrapBookDTO"/>
   		<typeAlias type="com.one.s1.board.qnas.QnaDTO" alias="QnaDTO"/>	
   		<typeAlias type="com.one.s1.board.qnas.qnasReply.QnaReplyDTO" alias="QnaReplyDTO"/>
   		<typeAlias type="com.one.s1.product.ProductDTO" alias="ProductDTO"/>	
   		<!-- <typeAlias type="com.one.s1.category.CategoryDTO" alias="CategoryDTO"/> -->
   		<typeAlias type="com.one.s1.product.CategoryDTO" alias="CategoryDTO"/>
   		<typeAlias type="com.one.s1.util.PassingNum" alias="PassingNum"/>
    </typeAliases>
  </configuration>
