<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
   		<typeAlias type="com.one.s1.util.Pager" alias="Pager"/>
   		<typeAlias type="java.util.List" alias="List"/>
   		<typeAlias type="java.lang.Long" alias="Long"/>
   		<typeAlias type="com.one.s1.board.BoardDTO" alias="BoardDTO"/>
   		<typeAlias type="com.one.s1.board.notices.NoticeDTO" alias="NoticeDTO"/> 
   		<typeAlias type="com.one.s1.board.qna2.Qna2DTO" alias="Qna2DTO"/>		
    </typeAliases>
  </configuration>
