<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.one.s1.cart.CartDAO">

<!-- 	<insert id="add" parameterType="CartDTO">
		INSERT INTO CART(CART_NUM, PRODUCT_NUM, ID, CART_COUNT)
		VALUES(CART_SEQ.NEXTVAL, #{product_num}, #{id}, #{cart_count})
	</insert> -->

	<delete id="delete" parameterType="CartDTO">
		DELETE CART WHERE CART_NUM=#{cart_num}
	</delete>
	
	<update id="update" parameterType="CartDTO">
		UPDATE CART SET PRODUCT_NUM=#{product_num}, CART_COUNT=#{cart_count} WHERE CART_NUM=#{cart_num}
	</update>
	
	<select id="list" resultType="CartDTO" parameterType="PassingNum">
<!-- 		SELECT *
		FROM CART
		ORDER BY CART_NUM DESC -->

<!-- 		SELECT m.id as memid, m.com_name, p.product_num, p.rate, product_price, product_name, cart_num, cart_count, c.adddate
		FROM members m, product p, cart c
		WHERE memid=c.id AND p.product_num=c.product_num) -->

<!-- 		SELECT ROW_NUMBER() OVER(ORDER BY c.cart_num DESC) AS num, c.cart_num, m.id, m.com_name, p.product_num, p.rate, p.product_price, p.product_name, c.cart_count, c.adddate 
		FROM CART c
			INNER JOIN product P
				ON c.product_num = p.product_num
			INNER JOIN members M 
				ON m.id = c.id
		WHERE c.id = #{id} -->
		
		SELECT ROW_NUMBER() OVER(ORDER BY c.cart_num DESC) AS num, c.cart_num, m.id, m.com_name, p.product_num, p.rate, p.product_price, p.product_name, c.cart_count, c.adddate, pf.filenum, pf.filename, pf.oriname, pf.filesection
		FROM CART c
			INNER JOIN product P
				ON c.product_num = p.product_num
			INNER JOIN productfile Pf
				ON pf.product_num = p.product_num
			INNER JOIN members M 
				ON m.id = c.id
		WHERE c.id = #{id} AND pf.product_num = #{product_num}

	</select>
	
	

	
	
	
	<select id="checkCart" resultType="CartDTO">
		SELECT * FROM CART
		WHERE ID = #{id} and PRODUCT_NUM=#{product_num}
	</select>


  	<insert id="add" parameterType="CartDTO">
		INSERT INTO CART (CART_NUM, PRODUCT_NUM, ID, CART_COUNT)
		VALUES(CART_SEQ.NEXTVAL, #{product_num}, #{id}, #{cart_count})
 	</insert>


</mapper>
