<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.one.s1.board.house.houseReply.HouseReplyDAO">

	<insert id="add" parameterType="HouseReplyDTO">
		INSERT INTO HOUSEREPLY (REPLYNUM, NUM, ID, CONTENTS, REGDATE)
		VALUES (HOUSE_SEQ.NEXTVAL, #{num}, #{id}, #{contents}, sysdate)
	</insert>

	<select id="list" parameterType="HouseReplyDTO"	resultType="HouseReplyDTO">
		SELECT * FROM HOUSEREPLY
		WHERE NUM=#{num}
		ORDER BY REPLYNUM DESC
	</select>

	<delete id="delete" parameterType="HouseReplyDTO">
		DELETE HOUSEREPLY WHERE REPLYNUM=#{replyNum}
	</delete>

	<update id="update" parameterType="HouseReplyDTO">
		UPDATE HOUSEREPLY SET CONTENTS=#{contents} WHERE REPLYNUM=#{replyNum}
	</update>
	
	

</mapper>  