<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.one.s1.board.notices.NoticeDAO">


	<insert id="addFile" parameterType="BoardFileDTO">
		INSERT INTO NOTICESFILE
		(FILENUM, NUM, FILENAME, ORINAME)
		VALUES (FILE_SEQ.NEXTVAL, #{num},
		#{fileName}, #{oriName})
	</insert>

	<insert id="add" parameterType="NoticeDTO">
		<selectKey keyProperty="num" order="BEFORE"
			resultType="Long">
			SELECT NOTICES_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NOTICES (NUM, ID, TITLE, CONTENTS, CD, MD, HIT)
		VALUES (notices_seq.nextval, #{id}, #{title}, #{contents}, sysdate, sysdate,
		0)
	</insert>

	<select id="detail" parameterType="NoticeDTO" resultMap="detailResult">
		SELECT N.*,NF.*
		FROM NOTICES N
		LEFT JOIN
		NOTICEFILE NF
		ON (N.NUM
		=NF.NUM)
		WHERE N.NUM=#{num}
	</select>
	<resultMap type="NoticeDTO" id="detailResult">
		<id column="num" property="num" />
		<result column="title" property="title" />
		<result column="id" property="id" />
		<result column="contents" property="contents" />
		<result column="cd" property="cd" />
		<result column="md" property="md" />
		<result column="hit" property="hit" />

		<collection property="fileDTOs" javaType="List"
			ofType="HouseFileDTO">
			<id column="fileNum" property="fileNum" /> 		<!-- num은 위에서 써줬기 때문에 안써줘도 된다 -->
			<result column="fileName" property="fileName" />
			<result column="oriName" property="oriName" />
		</collection>
		</resultMap>


		<select id="list" parameterType="NoticeDTO"
			resultType="NoticeDTO">
			SELECT * FROM
			(SELECT rownum R, B.* FROM
			(SELECT * FROM NOTICES WHERE
			NUM>0
			and
			<choose>
				<when test="kind=='col1'">
					TITLE
				</when>
				<when test="kind =='col2'">
					CONTENTS
				</when>
				<otherwise>
					ID
				</otherwise>
			</choose>
			LIKE '%'||#{search}||'%'
			ORDER BY NUM DESC
			) B
			)
			WHERE R between #{startRow} and #{lastRow}
		</select>

		<select id="total" resultType="Long" parameterType="Pager">
			SELECT COUNT(NUM) FROM NOTICES
			WHERE
			NUM>0
			and
			<choose>
				<when test="kind=='col1'">
					TITLE
				</when>
				<when test="kind =='col2'">
					CONTENTS
				</when>
				<otherwise>
					ID
				</otherwise>
			</choose>
			LIKE '%'||#{search}||'%'
		</select>

		<update id="update" parameterType="NoticeDTO">
			update notices set title=#{title}, contents=#{contents} where num=#{num}
		</update>

		<delete id="delete" parameterType="NoticeDTO">
			delete notices where num=#{num}
		</delete>


</mapper>

