<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.one.s1.board.qnas.QnaDAO">

<!--  	<select id="seqNum" resultType="Long">
 		select max(num) from qna
 		SELECT qna_SEQ.NEXTVAL FROM DUAL
 	</select> -->
 
  	<insert id="add" parameterType="qnaDTO">
	    INSERT INTO qnas (NUM, PRODUCT_NUM, ID, QNA_TITLE, QNA_CONTENTS, QNA_CD, QNA_REPLY, QNA_SECRET, HIT)
	    VALUES (qnas_seq.nextval, #{id}, #{title}, #{contents}, sysdate, sysdate, 0)
 	</insert>
 	
 	<select id="detail" parameterType="qnaDTO" resultType="qnaDTO">
		select * from qnas where qna_num = #{qna_num}
 	</select>
 	
 
 	<select id="list" parameterType="qnaDTO" resultType="qnaDTO">
  		SELECT * FROM
		    (SELECT rownum R, B.* FROM 
		        (SELECT * FROM qnaS WHERE 
		        	qna_NUM>0 
		        	and 
		        	<choose>
		        		<when test="kind=='col1'">
		        			TITLE
		        		</when>
		        		<when test="kind =='col2'">
		        			CONTENTS
		        		</when>
		        		<otherwise>
		        			ID
		        		</otherwise>
		        	</choose>	
		        	LIKE '%'||#{search}||'%'
		            ORDER BY qna_NUM DESC
		         ) B
		     )
		WHERE R between #{startRow} and #{lastRow}
 	</select>
 	
	<select id="total" resultType="Long" parameterType="Pager">
 		SELECT COUNT(qna_NUM) FROM qnaS
 		WHERE
 			qna_NUM>0 
		    and 	       	
		     <choose>
		     	<when test="kind=='col1'">
		     		TITLE
		     	</when>
		     	<when test="kind =='col2'">
		     		CONTENTS
		     	</when>
		     	<otherwise>
		     		ID
		     	</otherwise>
		     </choose>	
        	LIKE '%'||#{search}||'%' 
 	</select>
		
 	<update id="update" parameterType="qnaDTO">
 		update qnas set title=#{title}, contents=#{contents} where qna_num=#{qna_num}
 	</update>
 	
 	<delete id="delete" parameterType="qnaDTO">
 		delete qnas where qna_num=#{qna_num}
 	</delete>


</mapper>

