<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.one.s1.board.qnas.QnaDAO">

<!--  	<select id="seqNum" resultType="Long">
 		select max(num) from qna
 		SELECT qna_SEQ.NEXTVAL FROM DUAL
 	</select> -->

  	<insert id="reply" parameterType="QnaDTO">
 		insert into qnas (NUM, PRODUCT_NUM, ID, TITLE, CONTENTS, QNA_TYPE, QNA_BUY, CD, QNA_REPLY, QNA_SECRET, QNA_REF, QNA_STEP, QNA_DEPTH )
 		values (QNAS_seq.nextval, 222, #{id}, #{title}, #{contents}, 2, 0, SYSDATE, 0, 0, #{qna_ref}, #{qna_step}, #{qna_depth})
 	</insert>

 	<update id="stepUpdate" parameterType="QnaDTO">
 		update qnas set qna_step=qna_step+1
 		where qna_ref=#{qna_ref} and qna_step>#{qna_step}
 	</update>
 
  	<insert id="add" parameterType="QnaDTO">
	    INSERT INTO QNAS (NUM, PRODUCT_NUM, ID, TITLE, CONTENTS, QNA_TYPE, QNA_BUY, CD, QNA_REPLY, QNA_SECRET, QNA_REF, QNA_STEP, QNA_DEPTH )
        VALUES (QNAS_seq.nextval, 222, #{id}, #{title}, #{contents}, 2, 0, SYSDATE, 0, 0, qnas_seq.currval, 0, 0)  
 	</insert>
 	
 	<select id="detail" parameterType="QnaDTO" resultType="QnaDTO">
		select * from qnas where num = #{num}
 	</select>
 	
 
 	<select id="list" parameterType="QnaDTO" resultType="QnaDTO">
  		SELECT * FROM
		    (SELECT rownum R, B.* FROM 
		        (SELECT * FROM qnas WHERE 
		        	NUM>0 
		        	and 
		        	<choose>
		        		<when test="kind=='col1'">
		        			TITLE
		        		</when>
		        		<when test="kind =='col2'">
		        			CONTENTS
		        		</when>
		        		<otherwise>
		        			ID
		        		</otherwise>
		        	</choose>	
		        	LIKE '%'||#{search}||'%'
		            ORDER BY QNA_REF DESC, QNA_STEP ASC
		         ) B
		     )
		WHERE R between #{startRow} and #{lastRow}
 	</select>
 	
	<select id="total" resultType="Long" parameterType="Pager">
 		SELECT COUNT(NUM) FROM qnas
 		WHERE
 			NUM>0 
		    and 	       	
		     <choose>
		     	<when test="kind=='col1'">
		     		TITLE
		     	</when>
		     	<when test="kind =='col2'">
		     		CONTENTS
		     	</when>
		     	<otherwise>
		     		ID
		     	</otherwise>
		     </choose>	
        	LIKE '%'||#{search}||'%' 
 	</select>
		
 	<update id="update" parameterType="QnaDTO">
 		update qnas set title=#{title}, contents=#{contents} where num=#{num}
 	</update>
 	
 	<delete id="delete" parameterType="QnaDTO">
 		delete qnas where num=#{num}
 	</delete>


</mapper>

