<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.one.s1.store.StoreDAO">
 	<select id="category" parameterType="CategoryDTO" resultType="CategoryDTO">
  		SELECT * FROM CATEGORY ORDER BY CATEGORY_NUM ASC
 	</select>
 	
 	<select id="categoryProductList" parameterType="pager" resultType="ProductDTO">
  		SELECT * FROM PRODUCT ORDER BY HIT DESC
 	</select>
 	
<!--  	<select id="categoryList" parameterType="ProductDTO" resultMap="categoryResult">
  		SELECT * FROM
		    (SELECT rownum R, B.* FROM 
		        (SELECT * FROM  
		        
		        (SELECT P.*, PF.FILENAME, PF.FILENUM, PF.ORINAME  FROM PRODUCT P, (select *
				from PRODUCTFILE
				where (PRODUCT_NUM, FILENUM) in (
				select PRODUCT_NUM, MIN(FILENUM) as FILENUM
				from PRODUCTFILE group by PRODUCT_NUM)) PF WHERE P.PRODUCT_NUM = PF.PRODUCT_NUM)
		        
		        
		        WHERE 
		        	PRODUCT_NUM>0 
		        	and
		        	category_num = #{category_num}
		            ORDER BY PRODUCT_NUM DESC
		         ) B
		     )
		WHERE R between #{startRow} and #{lastRow}
		
		
 	</select>  -->	
 	
 	
 	
</mapper>
